<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<div class="logo">
		<img class="logo-img" src="/static/images/logo.png"/>
	</div>
	<main class="content">
		<div class="banner">
			<div class="banner-text">Leaderboards</div>
		</div>
		<div class="background-box">
			<div class="leaderboard-box">
				<table class="table">
					<thead>
						<tr class="table-header">
							<th scope="col" class="table-cell table-cell--place"></th>
							<th scope="col" class="table-cell table-cell--car">Racer</th>
							<th scope="col" class="table-cell table-cell--racer"></th>
							<th scope="col" class="table-cell table-cell--wpm">WPM</th>
							<th scope="col" class="table-cell table-cell--races">Races</th>
							<th scope="col" class="table-cell table-cell--points">Points</th>
						</tr>
					</thead>
					<tbody class="table-body">
						<tr class="table-row table-row--gold">
							<td class="table-cell table-cell--place"><img class="medal" src="/static/images/gold.png"/></td>
							<td class="table-cell table-cell--car"><img class="car-img" src="/static/images/cars/78.png"/></td>
							<td class="table-cell table-cell--racer">
								<img class="gold-img" src="/static/images/gold-membership.png"/>
								<span class="team-tag">[5HRK]</span>
								<a class="display-name" href="https://www.nitrotype.com/racer/racingstar8" target="_blank">Nezuko Kamado</a>
								<br><span class="title">"Motorcycle Rider"</span>
							</td>
							<td class="table-cell table-cell--wpm">106</td>
							<td class="table-cell table-cell--races">60,533</td>
							<td class="table-cell table-cell--points">8,913,270</td>
						</tr>
						<tr class="table-row table-row--silver">
							<td class="table-cell table-cell--place"><img class="medal" src="/static/images/silver.png" /></td>
							<td class="table-cell table-cell-car"><img class="car-img" src="/static/images/cars/95.png"/></td>
							<td class="table-cell table-cell--racer">
								<span class="team-tag">[5HRK]</span>
								<a class="display-name" href="https://www.nitrotype.com/racer/jwin1" target="_blank">OK BIMMER</a>
								<br><span class="title">"The Mad Hatter"</span>
							</td>
							<td class="table-cell table-cell--wpm">107</td>
							<td class="table-cell table-cell--races">53,041</td>
							<td class="table-cell table-cell--points">7,872,630</td>
						</tr>
						<tr class="table-row table-row--bronze">
							<td class="table-cell table-cell--place"><img class="medal" src="/static/images/bronze.png" /></td>
							<td class="table-cell table-cell-car"><img class="car-img" src="/static/images/cars/107.png"/></td>
							<td class="table-cell table-cell--racer">
								<img class="gold-img" src="/static/images/gold-membership.png"/>
								<span class="team-tag">[5HRK]</span>
								<a class="display-name" href="https://www.nitrotype.com/racer/ikandoit" target="_blank">Wizard</a>
								<br><span class="title">"Contestant"</span>
							</td>
							<td class="table-cell table-cell--wpm">104</td>
							<td class="table-cell table-cell--races">40,160</td>
							<td class="table-cell table-cell--points">5,709,846</td>
						</tr>
						<tr class="table-row table-row--nonpodium">
							<td class="table-cell table-cell--place place-number">4</td>
							<td class="table-cell table-cell-car"><img class="car-img" src="/static/images/cars/293.png"/></td>
							<td class="table-cell table-cell--racer">
								<img class="gold-img" src="/static/images/gold-membership.png"/>
								<span class="team-tag">[CRUIZ]</span>
								<a class="display-name" href="https://www.nitrotype.com/racer/tommy_14" target="_blank">Tommy_14</a>
								<br><span class="title">"People Love Me"</span>
							</td>
							<td class="table-cell table-cell--wpm">118</td>
							<td class="table-cell table-cell--races">35,101</td>
							<td class="table-cell table-cell--points">4,202,048</td>
						</tr>
						<tr class="table-row table-row--nonpodium every-other-row">
							<td class="table-cell table-cell--place place-number">5</td>
							<td class="table-cell table-cell-car"><img class="car-img" src="/static/images/cars/44.png"/></td>
							<td class="table-cell table-cell--racer">
								<img class="gold-img" src="/static/images/gold-membership.png"/>
								<a class="display-name" href="https://www.nitrotype.com/racer/dcitrowske" target="_blank">ItzBandito</a>
								<br><span class="title">"i luv nitrontip!1"</span>
							</td>
							<td class="table-cell table-cell--wpm">134</td>
							<td class="table-cell table-cell--races">22,101</td>
							<td class="table-cell table-cell--points">2,732,893</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>